@import "./base/global";

.header{
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  display: block;
  top:0px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #eee;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #48483F;
  font-size: 14px;

 }

nav ul{
  display:flex;
  margin-right:10px;
  height: 100%;
}

nav img {
  display: inline-block ;
  vertical-align: middle ;
  height: 55px;
  width:auto;
  margin-left: 15px;
  margin-top: -10px;
}

.left_nav{
  display:flex;
  justify-content: center;
}
.search{
  border:1px solid #eee;
  border-width: 1px ;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 2px 2px 10px #eee;
  margin-left: 16px;
  padding:3px;
  height: 42px;
  vertical-align: middle;
  // margin-top: 16px;
  margin-bottom: 3px;
  width:  460px;
  font-size: 19px ;
}

nav li{
  padding: 20px;
}


nav button{
  width: 24px;
  margin-right: 20px;
  margin-top: 16px;
}
.right_nav{
  display:flex;
  width: 22%;
  height: 55px;
}

.right_nav li button {
  display: flex;
  width:100%;
}

nav li:hover{
  border-bottom: 1px solid #008489
}
