
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 460px;
  text-align: left;
  margin-left: 16px;


}
.geosuggest__input {
  width: 460px;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;


  height: 40px;
  padding: 0px;
  padding-Left:35px;
  padding-Top: 2px;
  font-Size: 16px;
  background-image: url(https://res.cloudinary.com/dsguwnfdw/image/upload/v1478390875/Icons/magnifying-glass.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 1% 50%;
  resize: none;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 ;
  -webkit-box-shadow: 0px 0px 0px;
  border: 0px
}
.geosuggest__suggests {
  position: absolute;
  width: 480px;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 40em;
  height:auto;
  padding: 0;
  margin-top: 1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;

  -webkit-transition: max-height 1s, border 0.2s;
          transition: max-height 1s, border 0.2s;


}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 16px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;

}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}





// #search_bar{
//   border:1px solid #eee;
//   border-width: 1px ;
//   border-style: solid;
//   border-radius: 2px;
//   box-shadow: 2px 2px 10px #eee;
//   margin-left: 16px;
//   padding:3px;
//   height: 42px;
//   vertical-align: middle;
//   // margin-top: 16px;
//   margin-bottom: 3px;
//   width:  460px;
//   font-size: 19px ;
// }
