@import "./base/global";
.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 450px;
  padding: 32px;
  box-sizing: border-box;
}

.session-form input {
  height: 45px;
  line-height: 24px;
  border: 1px solid #00A699;
  margin-bottom: 25px;
  background-color: rgb(250,255,189);
  font-size: 19px;
  color: #484848 ;
  font-weight: 300 ;
  padding: 11px ;
  width: 100%;
}

.session-form input[type="submit"] {
  background: #FF5A5F;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border-radius: 4px !important;
  width: 100% !important;
  font-size: 19px !important;
  line-height: 22px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #ffffff !important;
  font-weight: 700;
  border-color:#FF5A5F;

}

.title {
  font-size: 28px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 700;
}

.close-x {
   position: absolute;
   top: 3px;
   left: 16px;
   cursor: pointer;
   font-size: 23px;
   color: rgb(118, 118, 118);
   opacity: 0.5;
 }

 .error {
   font-size: 15px;
   line-height: 12px;
   color: #d30303;
 }

 .redirect {
   text-align: center;
 }
 .session-form span{
    color: $grey;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px;
    line-height: 18px ;
    letter-spacing: 0.2px ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    font-weight: 300 ;
    display: inline ;
    margin-right:10px;
    margin-left: 10px;
 }
