

.castle-show img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 368px !important;
}

.content {
 position: relative;
 // flex-wrap: wrap;
 max-width: 1080px ;
 padding-right: 24px ;
 padding-left: 24px ;
 max-width: 896px ;
 margin-left: 116px ;
 margin-right: 116px;
 margin-top: 20px;
 min-height: 600px;

}

.castleInfo p {
  margin-bottom: 25px;
}

.summary{
  line-height: 22px ;
  border-bottom: 1px solid  #DBDBDB;
}

.summary span{
  margin-right: 16px;
}


.hostInfo {
  border-bottom: 1px solid  #DBDBDB;
  margin-top: 25px;
}

#host {
  font-weight: 500 ;
  margin: 0px ;
  word-wrap: break-word ;;
}
#description {
  background: #f8f8f8 !important;
  padding-right:10px;
  padding-left:10px;
}

.amenity {
  border-bottom: 1px solid  #DBDBDB;

}
.amenity ul {
  // margin-bottom: 25px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.amenity li {
  width: 40%;
  margin-bottom: 25px;
}
.CastleAndReview {
  color: #484848 ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 17px ;
  font-weight: 300 ;
  letter-spacing: 0.2px ;
  width: 58.333333333333336% !important;
  float: left !important;
  // float: left ;
  padding-left: 8px ;
  padding-right: 8px ;
  min-height: 1px ;
  position: relative ;
  -webkit-font-smoothing: antialiased;
  // display:flex;
}

.castle-show h3 {
  font-weight: 700 ;
  margin: 0px ;
  word-wrap: break-word ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 36px ;
  line-height: 40px ;
  letter-spacing: -0.6px ;
  padding-top: 6px ;
  padding-bottom: 6px ;
  color: #484848 ;
}
